<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>receiveManagement</display-name>
  <servlet>
    <description></description>
    <display-name>ListController</display-name>
    <servlet-name>ListController</servlet-name>
    <servlet-class>cn.jihe.management.controller.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListController</servlet-name>
    <url-pattern>/receiveData</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>ExcelController</display-name>
    <servlet-name>ExcelController</servlet-name>
    <servlet-class>cn.jihe.management.controller.ExcelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelController</servlet-name>
    <url-pattern>/getExcel</url-pattern>
  </servlet-mapping>
</web-app>