		*{
				margin: 0;
				padding: 0;
				font-family: "微软雅黑";
				font-weight: bold;
			}
			#logo {
				margin-left: 1.23%;
			}
			.f_system p:nth-child(1){
   				margin: 0;
				padding: 0;
			}
			.f_system p:nth-child(2){
   				margin-top: -13px;
			}
			.f_system{
				position: absolute;
				bottom: 57px;
				font-family: "微软雅黑";
   				font-weight: bold;
   				font-size: 1.5rem;
   				color: #A6CE37;
   				left: 135px;
   				top: 4px;
			}
			.time{
				float: right;
				font-size: 15px;
				color: #000000;
				margin-top: -39px;
				margin-right: 20px;
			}