			*{
				margin: 0;
				padding: 0;
				font-family: "微软雅黑";
				font-weight: bold;
			}
			
			.f_system p:nth-child(1){
   				letter-spacing: 2rem;
   				margin: 0;
				padding: 0;
			}
			.f_system p:nth-child(2){
   				margin-top: -13px;
			}
			.f_system{
				position: absolute;
				bottom: 57px;
				font-family: "微软雅黑";
   				font-weight: bold;
   				font-size: 1.5rem;
   				color: #A6CE37;
   				left: 135px;
   				top: 4px;
			}
			.date{
				height: 84px;
				background:
    linear-gradient(28deg, transparent 49.5%, #000 49.5%, #000 50.5%, transparent 50.5%);
    			padding: 0;
			}
			.p_date{
				margin-top: 57px;
				float: left;
			}
			.borders{
				border: 1px solid #000000;
				border-left: none;
				border-bottom: none;
			}
			.inside_borders{
				border-bottom: 1px solid #000000;
				padding: 0;
				height: 22px;
			}
			.last_borders{
				padding: 0;
				height: 16.4px;
			}
			.in_inside_borders{
				border-right: 1px solid #000000;
			}
			.content{
				width: 95.5%;
				margin: 0 auto;
				text-align: center;
    		}
    		.line_center{
    			margin: 0;
    		}
    		.tab-p{
    			height: 50px;
    			border-left: 1px solid #000; 
    			padding: 0;
    			font-size: 13px;
    			display: flex;
    			justify-content: center;
    			align-items: center;
    		}
			.t_cro_borders{
				border-bottom: 1px solid #000000;
				height: 16.4px;
				overflow: hidden;
			}
			.t_ver_borders{
				border-right: 1px solid #000000;
				height: 50px;
				overflow: hidden;
			}
			.col-4{
				font-size: 12px;
				line-height: 20px;
				padding: 0;
			}
			.week{
				padding: 0;
			}
			.data_borders{
				border-bottom: 1px solid #000000;
				padding: 0;
				height: 16.4px;
			}
			
			.title_height{
				height: 38px;
			}
			.berth p{
				font-size: 12px;
			}
